.sobreNos {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    &__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: justify;
  p {
        font-family: 'Ubuntu', sans-serif;;
      }
    }
  }
  .imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    &__imagem {
      width: 40%;
      img {
        border-radius: 5px;
        width: 100%;
      }
    }
  } 

  .imagem__principal {
    width: 70%;
    border-radius: 5px;
  }